In [29]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from matplotlib import pyplot as plt
from sklearn.model_selection import cross_val_score
import time
%matplotlib inline
sns.set(color_codes=True)

In [5]:
df=pd.read_csv('C:/Users/Vladimir/Documents/ntrlab/train.csv')

In [6]:
df.head()

,id,result,enter,leave,var0,var1,var2,var3
0,0,0,2018-11-02 20:43:36,2018-11-02 20:44:11,22480,1277,75137,"[3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
1,0,0,2018-11-02 20:44:15,2018-11-02 20:45:08,22480,1277,74096,"[1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
2,0,0,2018-11-06 06:58:06,2018-11-06 06:58:10,25795,461,2618,"[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
3,0,0,2018-11-06 08:38:29,2018-11-06 08:38:36,20078,3715,32151,"[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0..."
4,0,0,2018-11-06 08:38:39,2018-11-06 08:39:05,20078,3715,33750,"[0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0..."

In [ ]:
фичи, среднее время посещение сайта 
сумарное время посещение сайта

In [36]:
x=df["id"].value_counts()

In [38]:
df.enter

0         2018-11-02 20:43:36
1         2018-11-02 20:44:15
2         2018-11-06 06:58:06
3         2018-11-06 08:38:29
4         2018-11-06 08:38:39
5         2018-11-12 18:00:06
6         2018-11-12 18:00:06
7         2018-11-12 21:50:59
8         2018-11-12 21:51:06
9         2018-11-12 21:51:24
10        2018-11-12 21:52:00
11        2018-11-12 21:52:25
12        2018-11-12 21:52:29
13        2018-11-12 21:52:32
14        2018-11-12 21:52:36
15        2018-11-12 21:53:11
16        2018-11-12 21:53:15
17        2018-11-12 21:53:43
18        2018-11-12 21:54:44
19        2018-11-12 21:54:56
20        2018-11-12 21:55:28
21        2018-11-12 21:55:42
22        2018-11-12 21:56:10
23        2018-11-12 21:56:16
24        2018-11-12 21:56:27
25        2018-11-12 21:56:32
26        2018-11-12 21:56:37
27        2018-11-12 21:56:51
28        2018-11-13 14:21:25
29        2018-11-13 14:21:25
                 ...
253395    2018-12-09 12:24:59
253396    2018-12-09 12:26:54
253397    2018-12-09 12:28:11
253398    2018-12-09 12:32:16
253399    2018-12-09 12:32:43
253400    2018-12-09 12:33:18
253401    2018-12-09 12:39:17
253402    2018-12-09 12:40:25
253403    2018-12-09 12:40:45
253404    2018-12-09 12:41:01
253405    2018-12-09 12:41:05
253406    2018-12-09 12:42:16
253407    2018-12-09 12:43:48
253408    2018-12-09 12:46:08
253409    2018-12-09 12:47:20
253410    2018-12-09 13:21:07
253411    2018-12-09 13:21:42
253412    2018-12-09 13:24:55
253413    2018-12-09 13:25:06
253414    2018-12-09 13:25:16
253415    2018-12-09 13:25:22
253416    2018-12-21 11:59:25
253417    2018-11-28 20:02:36
253418    2018-11-28 20:02:36
253419    2018-11-28 20:03:58
253420    2018-11-28 20:12:17
253421    2018-11-28 20:12:46
253422    2018-12-20 12:14:03
253423    2018-12-20 12:14:37
253424    2019-02-16 10:12:31
Name: enter, Length: 253425, dtype: object

In [37]:
df.var3

0         [3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
1         [1,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
2         [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
3         [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
4         [0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0...
5         [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
6         [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
7         [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
8         [0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0...
9         [1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0...
10        [2,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0...
11        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
12        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
13        [0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
14        [3,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0...
15        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
16        [1,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,1,0,0...
17        [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0...
18        [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0...
19        [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
20        [1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0...
21        [1,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0...
22        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
23        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
24        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
25        [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
26        [1,1,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0...
27        [0,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0...
28        [3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
29        [3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
                                ...
253395    [0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253396    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0...
253397    [1,3,11,8,0,2,5,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,...
253398    [2,0,0,1,0,2,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253399    [1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0...
253400    [1,0,1,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253401    [0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0...
253402    [3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0...
253403    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253404    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253405    [1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0...
253406    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253407    [5,4,4,0,3,3,4,2,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0...
253408    [3,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253409    [1,0,1,3,4,1,0,0,1,1,0,0,3,0,0,0,0,0,0,0,0,0,0...
253410    [0,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253411    [2,1,0,0,0,0,1,0,0,0,3,8,3,1,1,0,0,4,0,0,0,1,0...
253412    [1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253413    [1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253414    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253415    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253416    [1,2,8,4,1,2,2,1,0,3,0,1,1,5,0,0,0,0,0,2,0,0,1...
253417    [2,2,1,2,1,2,1,1,2,3,1,1,1,0,1,1,1,1,2,0,0,0,0...
253418    [2,2,1,2,1,2,1,1,2,3,1,1,1,0,1,1,1,1,2,0,0,0,0...
253419    [8,5,1,0,3,2,5,18,14,3,2,2,0,0,0,0,0,0,0,0,0,0...
253420    [1,1,0,3,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253421    [3,0,1,0,1,2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0...
253422    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
253423    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1...
253424    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
Name: var3, Length: 253425, dtype: object

In [44]:
time.strptime( "2009-11-12 23:18:53", "%Y-%m-%d %H:%M:%S" )

time.struct_time(tm_year=2009, tm_mon=11, tm_mday=12, tm_hour=23, tm_min=18, tm_sec=53, tm_wday=3, tm_yday=316, tm_isdst=-1)

In [42]:
time.strptime('2018', '%Y')

time.struct_time(tm_year=2018, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [16]:
sns.lineplot()

ValueError: Either both or neither of `x` and `y` must be specified (but try passing to `data`, which is more flexible).